In [2]:
import pandas as pd

In [12]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "email@gmail.com"
}

In [13]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email": ["email@gmail.com"]
}

In [18]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["email@gmail.com", "email2@gmail.com", "email3@gmail.com"]
}

In [20]:
df = pd.DataFrame(people)

In [21]:
df

   first     last             email
0  Corey  Schafer   email@gmail.com
1   Jane      Doe  email2@gmail.com
2   John      Doe  email3@gmail.com

#### DataFrame here we can see that it is two-dimensional, while Series is one-dimensional, so columns in DataFrame are Series objects
##### We can call columns (and rows) in df using square brackets "df\[column_name\]" or dot "df.column_name"

In [28]:
df['email']

0     email@gmail.com
1    email2@gmail.com
2    email3@gmail.com
Name: email, dtype: object

In [29]:
df.email

0     email@gmail.com
1    email2@gmail.com
2    email3@gmail.com
Name: email, dtype: object

In [30]:
df[['last', 'email']] # double brackets to get multiple columns

      last             email
0  Schafer   email@gmail.com
1      Doe  email2@gmail.com
2      Doe  email3@gmail.com

In [31]:
df.columns # get column names

Index(['first', 'last', 'email'], dtype='object')

- **iloc** is  integer location abbreviation, which used to take location of df using indexes
    
    `df.iloc[[rows], [columns]]`

In [32]:
df.iloc[0] # get first row

first              Corey
last             Schafer
email    email@gmail.com
Name: 0, dtype: object

In [35]:
df.iloc[[0, 1], [2, 1]] # get first and second row, second and third column

              email     last
0   email@gmail.com  Schafer
1  email2@gmail.com      Doe

- **loc** is location, which used by index and rows

    `df.loc[["rows"], ["label columns"]]`

In [36]:
df

   first     last             email
0  Corey  Schafer   email@gmail.com
1   Jane      Doe  email2@gmail.com
2   John      Doe  email3@gmail.com

In [38]:
df.loc[0] # get first row

first              Corey
last             Schafer
email    email@gmail.com
Name: 0, dtype: object

In [37]:
df.loc[[0, 1], ['email', 'last']] # get first and second row, email and last name

              email     last
0   email@gmail.com  Schafer
1  email2@gmail.com      Doe

Now let's use our Stack Overflow Data:

### DataFrame and Series Basics - Selecting Rows and Columns

In [41]:
df = pd.read_csv('../data/survey_results_public.csv')

In [42]:
df['Hobbyist'].value_counts() # count unique values

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [45]:
df.loc[[0, 1, 2], 'Hobbyist'] # get first three rows of Hobbyist column

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

*Note*: while we want to use range of some columns or rows, we should not use square brackets in it

In [46]:
df.loc[0:2, 'Hobbyist'] # get first three rows of Hobbyist column

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [47]:
df.loc[0:2, 'Hobbyist':'Employment'] # get first three rows of Hobbyist to Employment columns

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time